.Button {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none; // @NOTE: ask design for desired behavior when user is focusing input field

  transition: all 0.5s;

  // User feedback when clicking button
  &:active {
    transform: scale(0.97);
    filter: opacity(63%);
  }

  &--isFullWidth {
    width: 100%;
  }
}
