.Input {
  &__field {
    outline: none; // @NOTE: ask design for desired behavior when user is focusing input field

    font-weight: 400;

    &::placeholder {
      letter-spacing: 1.5px;
      color: #3e342b;
      opacity: 0.5;
    }
  }

  &__clearButton {
    height: 100%;
    position: absolute;
    right: 10px;
    background: transparent;
    border: 1px solid transparent;
  }
}
