@import "../../index.scss";

$cardPadding: 15px;

.BalanceChecker {
  max-width: 345px;

  &__card {
    background: $dwelling-theme-1;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 $cardPadding;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__inputField {
    position: relative;
    // left: calc($cardPadding * -1);
    left: -#{$cardPadding};

    display: flex;
    align-items: center;
    width: calc(100% + (#{$cardPadding} * 2));

    > input {
      width: 100%;
      height: 50px;
      padding: 0 45px 0 15px;
      font-size: 14px;

      border-top: 1px solid black;
      border-bottom: none;
      border-left: none;
      border-right: none;
      border-radius: 0 0 10px 10px;
    }

    &--hasBalance,
    &--hasErrors {
      > input {
        border-radius: 0;
      }
    }

    &--hasBalance {
      border-bottom: 1px solid black;
    }

    &--hasErrors {
      > input {
        border-top: 1px solid $danger;
        border-bottom: 1px solid $danger;
      }
    }
  }

  &__errMsg,
  &__balanceMsg {
    width: max-content;
    margin: 15px auto;
  }

  &__balanceMsg {
    color: $success;
    font-weight: 700;
  }

  &__errMsg {
    color: $danger;
  }

  .BalanceChecker__checkBtn {
    margin-top: 15px;
    background: black;
    height: 50px;

    font-size: 16px;
    color: white;
  }
}
