@import-normalize; /* bring in normalize.css styles */

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Roboto", sans-serif;
}

p,
span,
div,
input {
  font-family: "Roboto Mono", monospace;
}

// Base colors
$success: #1e7500;
$danger: #ff4d00;

// Theme colors
$dwelling-theme-1: #efe6dd;
